/* =================================== */


/*	Basic Style 
/* =================================== */

body {
    background-color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 26px;
    font-size: 15px;
    color: #6a737b;
}

ol,
ul {
    margin: 0;
    padding: 0;
    /*list-style: none;*/
    list-style-position: outside;
    line-height: 2;
    padding-left: 1em;
}

li > ul {
    padding-left: 1.5em;
}

figure {
    margin: 0;
}

a {
    color: #B21212;
    -webkit-transition: all .3s ease-in 0s;
    -moz-transition: all .3s ease-in 0s;
    -ms-transition: all .3s ease-in 0s;
    -o-transition: all .3s ease-in 0s;
    transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}

a:focus,
a:hover {
    color: #B21212;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

span.color {
    color: #0feb9e;
}

body > section,
.footer {
    padding: 40px 0;
}

.sec-title {}

.sec-title h2 {
    font-size: 28px;
    /*color: #B21212;
    font-weight: 800;*/
    font-weight: 300;
}

.sec-sub-title {
    margin: 35px 0 45px;
}

.sec-sub-title p {
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    color: #5b646e;
}

.devider {
    margin-top: 30px;
}

.devider i {
    color: #cccccc;
}

.devider:before,
.devider:after {
    content: "______________________";
    color: #e6e8ea;
    position: relative;
    bottom: 6px;
}

.devider:before {
    right: 10px;
}

.devider:after {
    left: 10px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb20 {
    margin-bottom: 20px;
}

#preloader {
    background-color: #fff;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1100;
}

#preloader > img {
    left: 47%;
    position: absolute;
    top: 48%;
}

a.btn-orange,
.btn-orange {
    background-color: #FF4C00;
    color: #fff;
}

a.btn-softgrey,
.btn-softgrey {
    background-color: #eeeeee;
}

.btn-facebook,
.btn-twitter {
    color: #fff;
    margin: 0 2px 6px 2px;
    width: 48%;
    display: block;
}

.btn-facebook {
    background-color: #3B5998;
}

.btn-twitter {
    background-color: #55acee;
}

.no-gutter {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
}

.progress-bar {
    box-shadow: none;
}

.progress-bar-grey,
.label-grey {
    background-color: #DDD;
}

#single .container {
    width: 70%;
}


/*=========================================
	Header
==========================================*/

#navigation {
    border: 0 none;
    margin: 20px 0;
}

.wis-links li:before {
    content: " | ";
    padding-right: 10px;
    color: #aaa;
}

.wis-links li:first-child:before {
    content: none;
}

.navbar {
    background: none !important;
}

.navbar-toggle i {
    color: #fff;
}

.navbar-brand {
    padding: 0;
}

.navbar-nav {
    margin: 0;
}

.navbar-nav li a {
    border-top: 1px solid transparent;
    color: #B21212;
    text-transform: uppercase;
}

.navbar-nav li a.current,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
    background-color: transparent;
    border-top: 1px solid #B21212;
    color: #B21212;
}

a.login:hover {
    border: none;
}

.navbar-collapse {
    background: #f0f0f0;
}

@media only screen and (min-device-width: 768px) {
    .navbar-collapse {
        margin: 0;
        padding: 0;
    }
    a.login {
        color: #FF4C00;
        border: none;
        text-transform: uppercase;
        line-height: 3.4;
        margin-right: 20px;
    }
    a.login:hover {
        color: #FF4C00;
        border: none;
    }
    .login:before {
        font: normal 14px/1 "FontAwesome";
        content: "\f023";
        padding: 0 6px 0 30px;
        margin: 0;
    }
    #isLoggedIn .login:before {
        font: normal 14px/1 "FontAwesome";
        content: "\f007";
        padding-left: 6px;
    }
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin: 0 !important;
}

.search button {
    border: 0px none;
    background: #212121 none repeat scroll 0% 0%;
    color: #FFF;
    padding: 2px 5px;
    margin-bottom: 0px;
    float: right;
    height: 52px;
    width: 40px;
    border-radius: 0px;
}

.search button:hover {
    color: #fff;
}


/**/


/* expandable search */

.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}

.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}

.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}

.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}

.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
}

.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #B21212;
    left: initial;
    font-size: 14px;
}


/*=========================================
	Slider
==========================================*/

#slider {
    padding: 0;
}

.carousel-inner {
    border-bottom: 1px solid #f0f0f0;
}


/*#slider .carousel-inner .item {
    background-size: cover;
    background: no-repeat;
    background-position: 50% 0;
}
*/

.social-links {
    margin-top: 5%;
}

.social-links li {
    display: inline-block;
}

.social-links li a {
    color: rgba(255, 255, 255, 0.3);
    display: block;
    margin: 0 6px;
}

.social-links li a:hover {
    color: #fff;
}

.carousel-indicators {
    bottom: 10px;
    left: inherit;
    margin: 0;
    right: 30px;
    top: 49%;
    width: 0;
}

.carousel-indicators li {
    border: 1px solid rgba(0, 0, 0, 0.6);
    height: 8px;
    width: 8px;
}

.carousel-indicators .active {
    height: 8px;
    width: 8px;
}


/*=========================================
	Features
==========================================*/

.features {
    background-color: #F1F1F1;
}

.features .btn {
    padding: 20px 0;
}

.owl-controls {
    bottom: -45px;
    margin-top: 10px;
    position: relative;
    text-align: center;
}

.owl-controls .owl-page {
    display: inline-block;
}

.owl-controls .owl-page span {
    border: 1px solid #C7CED3;
    border-radius: 20px;
    display: block;
    height: 8px;
    margin: 5px 4px;
    width: 8px;
}

.owl-controls .owl-page.active span {
    background: #062033;
    border: 0;
}

.service-icon {
    border: 1px solid #B21212;
    border-radius: 50%;
    color: #B21212;
    float: left;
    padding: 10px 13px;
}

.service-desc {
    margin-left: 70px;
    position: relative;
    top: 5px;
}

.service-desc h3 {
    color: #062033;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}


/*=========================================
	challenge page with filter
==========================================*/

.challenge-filter {
    margin-bottom: 35px;
}

.challenge-filter ul li {
    display: inline-block;
}

.challenge-filter ul li a {
    color: #062033;
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 17px;
    border-radius: 6px;
    text-transform: capitalize;
}

.challenge-filter ul li a:hover,
.challenge-filter ul li a.active {
    background-color: #B21212;
    border-radius: 6px;
    color: #fff;
    padding: 5px 17px;
}

.mix {
    display: none;
}


/*=========================================
	Challenges
==========================================*/

.challenges h2 {
    margin-bottom: 30px;
}

.challenge-thumb {
    width: 273px;
    position: relative;
    border: 1px solid #ddd;
}

.challenge-thumb img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.challenge-box h4 {
    color: #062033;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin: 15px 0 8px;
    height: 48px;
}

.challenge-box a:hover > h4 {
    color: #B21212;
}

.challenge-box p.organiser {
    font-weight: 300;
    line-height: 2;
}

.challenge-box p.description {
    height: 105px;
}

.stats span {
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.2;
    padding: 10px 0;
    /*border-bottom: 5px solid #B21212;*/
}


/*=========================================
	Some fun facts
==========================================*/

#facts {
    background-image: url("../img/parallax/city.jpg");
    background-color: rgba(6, 32, 51, .8);
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.facts h2 {
    color: #fff;
}

.parallax-overlay {
    background-color: rgba(6, 32, 51, .8);
    padding: 70px 0;
}

.counters-item {
    color: #fff;
}

.counters-item i {
    border: 1px solid #737C85;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 120px;
    margin: 0 0 35px;
    padding: 40px 0 0;
    width: 120px;
}

.counters-item strong {
    display: block;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
}

.counters-item p {
    font-size: 18px;
    line-height: 24px;
    margin-top: 15px;
    text-transform: uppercase;
}


/*=========================================
	Idea tab panel
==========================================*/

.breadcrumb {
    background: none;
    padding-top: 0;
}

.tabpanel {
    margin-top: 30px;
}

.tabpanel h3,
.tabpanel h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tab-pane {
    padding: 30px 10px;
}

.tab-content .challenge-filter {
    margin-top: 30px;
}

.tab-content ul,
.tab-content ol {
    margin-bottom: 20px;
}

.tab-content thead {
    font-weight: bold;
}

.embed-responsive {
    margin-bottom: 20px;
}

.idea-box .panel-heading {
    padding: 0;
    background: #DDD;
}

.idea-box .panel-body {
    background: #F1F1F1;
}

.idea-box .media-right {
    width: 180px !important;
}

.media h4 {
    margin: 16px 0;
}

.media-body {
    width: 66%;
}

.voted {
    opacity: 0.4;
}

.vote > h4 {
    color: #5dabda;
    border-bottom: 1px solid #5dabda;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 12px;
    padding-bottom: 6px;
}

.vote .btn {
    margin-bottom: 10px;
}

.detailBox {
    background-color: #fff;
    margin-top: 30px;
}

.actionBox .form-group * {
    width: 100%;
}

.commentList {
    padding: 0;
    list-style: none;
}

.commentList li {
    margin: 0;
    margin-top: 10px;
}

.commentList li > div {
    display: table-cell;
}

.commenterImage {
    width: 30px;
    margin-right: 5px;
    height: 100%;
    float: left;
}

.commenterImage img {
    width: 100%;
}

.commentText p {
    margin: 0;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.actionBox {
    border-top: 1px solid #bbb;
    padding: 10px;
}

.hiddenComment1,
.hiddenComment2 {
    display: none;
}


/*=========================================
	Contact Us
==========================================*/

.contact {
    padding-bottom: 0;
}

.contact-address h3 {
    color: #062033;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 25px;
}

.contact-address p {
    line-height: 24px;
}

.contact-form {}

.contact-form h3 {
    color: #062033;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 25px;
}

.contact-form .input-group {
    width: 100%;
}

.contact-form .form-control {
    border-color: -moz-use-text-color -moz-use-text-color #cccccc;
    border-radius: 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
    margin-bottom: 10px;
}

.contact-form .input-field {
    width: 48%;
    float: left;
    margin-right: 4%;
}

.contact-form .input-field:last-child {
    margin-right: 0;
}

.contact-form .form-control.error {
    border-bottom-color: #c0392b;
}

label.error {
    color: #c0392b;
    font-weight: normal;
    text-transform: capitalize;
}

.contact-form #form-submit {
    background: url("../img/envelop.png") no-repeat scroll 0 15px transparent;
    border: 0 none;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    text-align: right;
    width: 150px;
}

.footer-social {
    margin-top: 17px;
}

ul.footer-social,
.footer-social li {
    list-style-type: none;
    padding: 0;
    margin: 20px 0px 0px;
}

.footer-social li a {
    color: #cdd2d6;
    display: block;
    margin-bottom: 10px;
}

#map_canvas {
    height: 215px;
    width: 100%;
}


/*=========================================
	Contact Us
==========================================*/

.footer {
    background-color: #000;
    border-top: 5px solid #062033;
    color: #fff;
}

.footer a,
.footer a:hover {
    color: #fff;
}

.footer h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
}

.about-us p {
    line-height: 24px;
}

.footer-single .subscribe {
    margin-bottom: 15px;
    position: relative;
}

.subscribe #subscribe {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    height: 40px;
    text-indent: 10px;
    width: 100%;
}

.subscribe #subs {
    background-color: transparent;
    border: 0 none;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 6px;
}

.footer-single {
    line-height: 24px;
}

.footer-single ul {}

.footer-single li {
    line-height: 32px;
}

.footer-single p i {
    margin: 0 10px;
}

.credit a {
    color: #062033;
}

.credit a:hover {
    color: #fff;
}

.copyright {
    color: #fff;
    margin-top: 100px;
}

#back-top {
    bottom: 20px;
    position: fixed;
    right: 25px;
    z-index: 9;
}


/*=========================================
	Form
==========================================*/


/* layout.css Style */

.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}


/* skin.css Style*/

.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.warning {
    color: #d9534f;
}

.fileupload {
    position: relative;
    overflow: hidden;
}

.fileupload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/* add on to bootstrap */

.bg-grey {
    background-color: #bbb;
}